p
{
   font-size: 200%;
   font-family: sans-serif;
}
body
{
   background: linear-gradient(45deg,rgb(13, 213, 243), rgb(170, 25, 242),rgb(47, 194, 252), rgb(201, 48, 247));
}
b
{
   font-size:270% ;
   font-weight:;
}